{% extends 'base.html' %}

{% block title_head %}
<title>Atleta</title> 
{% endblock title_head %}

{% block h1_header %}
Datos del atleta {{atleta.nombre}}
{% endblock h1_header %}

{% block contenido %}
<li>Edad: {{atleta.edad}} </li>
<li>Deporte: {{atleta.deporte}} </li>
<li>Descripcion: {{atleta.descripcion | safe}} </li>
{% if atleta.imagen %}
    <img src={{ atleta.imagen.url }} alt="Imagen" height='300px'>
{% endif %}
<li>Fecha de creacion: {{ atleta.fecha }}</li>
<li>fecha de nacimiento: {{ atleta.fecha_nacimiento }} </li>
{% endblock contenido %}